*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #EEE;
    font-family: 'Roboto', sans-serif;
}
.container{
    margin:0 auto;
    max-width: 1000px;
    background-color: #E4f9f5;
    padding: 20px;
}
.profile{
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;

}
.profile2{
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
    margin: 40px;

}
.headerBio{
    float: left;
    padding: 30px;
    margin: 10px;
    margin-top: 10px;

}
h1,h2,h3,h4,h5,h6{
    color: #11999e;
    
  
}
.headerContact{
    float: right;
    padding: 30px;
}
.headerContact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
    padding: 4px;
    
    
}
.headerContact a:hover{
    text-decoration: underline;
    color: tomato;
}
.div-clear{
    clear: both;
}
hr{
    border: solid black 3px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}
.content{
    margin-bottom: 30px;

}
.left-div{
    width: 30%;
    float: left;

}
.right-div{
    width: 70%;
    float: left;
}
.common-hr{
    border: solid black 1px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}
.edu-template-left{
    float: left;
    width: 45%;

}


.edu-template-right{
    float: right;
    width: 45%;
}
.bottomConatiner{
    background-color: black;
    text-align: center;
    padding: 10px;
}
.bottomConatiner a{
    color: white;
    text-decoration: none;
    margin: 20px;
}
.bottomConatiner p{
    color: white;
    margin-top: 10px;
}